streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-mistralai

chromadb

pymupdf
pypdf

python-dotenv

pydantic>=2.11
pydantic-settings

pandas
numpy
rank-bm25